body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*{
  padding: 0;
  margin: 0;
}
li{
}
.col-md-1{
  background-color: #00b3ee;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.col-md-4{
  background-color: #00b3ee;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.col-md-6{
  background-color: #00b3ee;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.col-md-8{
  background-color: #00b3ee;
  border: 1px solid #000000;
  box-sizing: border-box;
}